<div class="flex justify-center items-center px-2 mt-4">
  <div class="border-white border-2 rounded-lg shadow-md flex flex-col gap-y-2 px-4 py-6 bg-darkPurple max-w-md w-full">
    <h2 class="text-white text-2xl text-center">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-4">
        <%= f.label :email, class: 'text-white' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'px-2 py-1 w-full' %>
      </div>

      <div class="flex gap-x-2 mb-4">
        <div class="field w-1/2">
          <%= f.label :first_name, class: 'text-white' %><br />
          <%= f.text_field :first_name, autocomplete: "first_name", class: 'px-2 py-1 w-full' %>
        </div>

        <div class="field w-1/2">
          <%= f.label :last_name, class: 'text-white' %><br />
          <%= f.text_field :last_name, autocomplete: "last_name", class: 'px-2 py-1 w-full' %>
        </div>
      </div>

      <div class='field mb-4' >
        <%= f.label :image, class: 'text-white' %><br />
        <%= f.file_field :image, class: 'w-full text-white' %>
      </div>

      <div class="field mb-4">
        <%= f.label :password, class: 'text-white' %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'px-2 py-1 w-full' %>
      </div>

      <div class="field mb-4">
        <%= f.label :password_confirmation, class: 'text-white' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'px-2 py-1 w-full' %>
      </div>

      <div class="actions mb-4">
        <%= f.submit "Sign up", class: 'primary-button w-full' %>
      </div>
    <% end %>

    <hr class="border-gray-600 mb-4" />
    <div class="flex gap-x-4 justify-between items-center">
      <%= link_to "Log in", new_session_path(resource_name), class: 'secondary-button w-1/2 text-center' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'text-blue underline w-1/2' %>
    </div>
  </div>
</div>
