<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= inertia_ssr_head %>

    <%# If you want to use React add `vite_react_refresh_tag` %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_typescript_tag 'inertia' %>
  </head>

  <body class='bg-brand-dark text-white font-sans font-light pb-20'>
    <% if user_masquerade? %>
      <div class="bg-yellow-600 text-white text-center p-2 flex items-center justify-between">
        You are masquerading as <%= current_user.full_name %>
        <%= link_to "Stop Masquerading", back_masquerade_path(current_user), class: "text-white underline font-medium px-3 py-1 rounded bg-yellow-700 hover:bg-yellow-800" %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
